{% extends 'base_qliksense.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if object %}
    <!-- Cuando se actualiza y se quiere mostar algun dato -->
    {% endif %}
    
    <form method="post" autocomplete="off">
      {% csrf_token %}
      
      {{ form|crispy }}

      {% if aditional_form %}
      {{ aditional_form|crispy }}
      {% endif %}

      <input type="submit" value="{{ opciones.submit }}" name="" class="btn btn-primary">
    </form>
{% endblock %}