{% extends 'base_qliksense.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">{{ title }}</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for element in elementos %}
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                
                <img src="{% static 'images/' %}{{ element.imagen }}">
            </div>
            <h2>{{ element.display }}</h2>
            <p>{{ element.desc }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}