{% extends 'base_qliksense.html' %}
{% load static fields_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
      <div class="row align-items-start">
        <div class="col-10">
          <h1>{{ title }}</h1>
        </div>
        <div class="col text-center">
        {% if create %}
        <a href="{{ create.url }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ create.display }}">
          <img src="{% static 'images/qs_create.png' %}" alt="{{ create.display }}" height="42px">
        </a>
        {% endif %}
        {% if botones_extra %}
        {% for boton in botones_extra %}
        <a href="{{ boton.url }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ boton.display }}">
          <img src="{% static 'images/' %}{{ boton.img }}" alt="{{ boton.display }}" height="42px">
        </a>
        </div>
        {% endfor %}
        {% endif %}
      </div>


    {% if object_list %}
    <table class="table">
      <thead>
        <tr>
          {% if campos.enumerar > -1 %}
          <th scope="col">#</th>
          {% endif %}

          {% for campo in campos.lista %}
          <th scope="col">{% get_verbose_field_name object_list.0 campo %}</th>
          {% endfor %}

          {% for campo in campos_extra %}
          <th scope="col">{{ campo.nombre }}</th>
          {% endfor %}

          {% if campos.opciones %}
          <th scope="col">{{ campos.opciones }}</th>
          {% endif %}
        </tr>
      </thead>

      <tbody>
        {% for object in object_list %}
        <tr>
          {% if campos.enumerar > -1 %}
          <th scope="row">
            {% if campos.enumerar == 0 %}
              {{ forloop.counter0|add:page_obj.start_index|add:"-1" }}
            {% else %}
              {{ forloop.counter0|add:page_obj.start_index }}
            {% endif %}
          </th>
          {% endif %}

          {% for campo in campos.lista %}
          <td>{% get_object_value object campo %}</td>
          {% endfor %}

          {% for campo in campos_extra %}
          {% if campo.valor %}
          <td>{% get_object_value object campo.valor %}</th>
          {% elif campo.funcion %}
          <td>{% get_object_funcvalue object campo.funcion %}</th>
          {% else %}
          <td>{{ campo.constante }}</td>
          {% endif %}
          {% endfor %}

          {% if campos.opciones %}
          <th scope="col">
            {% if object.url_detail %}
            <a href="{{ object.url_detail }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.detail }}">
              <img src="{% static 'images/qs_detail.png' %}" alt="{{ opciones.detail }}" height="25px">
            </a>
            {% endif %}
            {% if object.url_update %}
            <a href="{{ object.url_update }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.update }}">
              <img src="{% static 'images/qs_update.png' %}" alt="{{ opciones.update }}" height="25px">
            </a>
            {% endif %}
            {% if object.url_delete %}
            <a href="{{ object.url_delete }}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.delete }}">
              <img src="{% static 'images/qs_delete.png' %}" alt="{{ opciones.delete }}" height="25px">
            </a>
            {% endif %}
          </th>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <div class="alert alert-warning" role="alert">
      {{ mensaje.vacio }}
    </div>
    {% endif %}

    {% include 'pagination.html' %}
{% endblock %}