{% extends 'base.html' %}
{% load static fields_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
      <div class="row align-items-start">
        <div class="col-10">
          <h1>{{ title }}</h1>
        </div>
        <div class="col text-center">
          
        {% if permisos.create and create %}
          <a href="{{ create.url }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ create.display }}">
            <img src="{% static 'images/' %}{{ create.img }}" alt="{{ create.display }}" height="42px">
          </a>
        {% endif %}
        {% if botones_extra %}
          {% for boton in botones_extra.0 %}
            {% if boton.permiso %}
              <a href="{{ boton.url }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ boton.display }}" {% if boton.target %}target="{{ boton.target }}"{% endif %}>
                <img src="{% static 'images/' %}{{ boton.img }}" alt="{{ boton.display }}" height="42px">
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
        </div>
      </div>


    {% if object_list %}
    <table class="table">
      <thead>
        <tr>
          {% if campos.enumerar > -1 %}
          <th scope="col">#</th>
          {% endif %}

          {% for campo in campos.lista %}
          <th scope="col">{% get_verbose_field_name object_list.0 campo %}</th>
          {% endfor %}

          {% for extra in campos_extra %}
          <th scope="col">{{ extra.nombre }}</th>
          {% endfor %}

          {% if campos.opciones %}
          <th scope="col">{{ campos.opciones }}</th>
          {% endif %}
        </tr>
      </thead>

      <tbody>
        {% for object in object_list %}
        <tr>
          {% if campos.enumerar > -1 %}
          <th scope="row">
            {% if campos.enumerar == 0 %}
              {{ forloop.counter0|add:page_obj.start_index|add:"-1" }}
            {% else %}
              {{ forloop.counter0|add:page_obj.start_index }}
            {% endif %}
          </th>
          {% endif %}

          {% for campo in campos.lista %}
          <td>{% get_object_value object campo %}</td>
          {% endfor %}

          {% for extra in campos_extra %}
            <td>
            {% if extra.valor %}
              {% get_object_value object extra.valor %}
            {% elif extra.funcion %}
              {% get_object_funcvalue object extra.funcion %}
            {% elif extra.ul_lista %}
            <ul>
              {% for elemento in extra.ul_lista %}
              <li> {{ elemento }} </li>
              {% endfor %}
            </ul>
            {% elif extra.url %}
            <a class="btn btn-primary btn-sm" href="{% get_object_funcvalue object extra.url %}" target="{{ extra.target }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ extra.nombre }}">
              <img src="{% static 'images/' %}{{ extra.img }}" alt= "{{ extra.nombre }}" height="25px">
            </a>
            {% else %}
              {{ extra.constante }}
            {% endif %}
            </td>
          {% endfor %}

          {% if campos.opciones %}
          <td scope="col">
            {% if object.url_detail %}
            <a href="{{ object.url_detail }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.detail }}">
              <img src="{% static 'images/' %}{{ opciones.detail_img }}" alt="{{ opciones.detail }}" height="25px">
            </a>
            {% endif %}
            {% if permisos.update and object.url_update %}
            <a href="{{ object.url_update }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.update }}">
              <img src="{% static 'images/' %}{{ opciones.update_img}}" alt="{{ opciones.update }}" height="25px">
            </a>
            {% endif %}
            {% if permisos.delete and object.url_delete %}
            <a href="{{ object.url_delete }}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.delete }}">
              <img src="{% static 'images/' %}{{ opciones.delete_img }}" alt="{{ opciones.delete }}" height="25px">
            </a>
            {% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <div class="alert alert-warning" role="alert">
      {{ mensaje.vacio }}
    </div>
    {% endif %}

    {% include 'pagination.html' %}
{% endblock %}