{% load crispy_forms_tags %}
<!-- Modal -->
<div class="modal fade" id="{{ form.modal }}" tabindex="-1" aria-labelledby="{{ form.modal }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ form.modal }}Label">{{ form.display }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ form.action }}" autocomplete="off" >
          {% csrf_token %}
          
          {{ form.form|crispy }}

        <div class="modal-footer">
          <input type="submit" value="{{ form.opciones.submit }}" name="" class="btn btn-primary">
        </div>
        
        </form>
      </div>
    </div>
  </div>
</div>