{% load i18n %}{% autoescape off %}
    {% blocktranslate %}
        Ha recibido el correo porque solicito el reinicio de su contraseña en {{ site_name }}.
    {% endblocktranslate %}

    {% translate "Por favor haga clic en el enlace para ingresar una nueva contraseña:" %}

    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'usuarios:password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}

    {% translate 'En caso de haberlo olvidado, su usuario es:' %} {{ user.get_username }}

    {% translate "Que tenga buen día!" %}

    {% blocktranslate %}Att. El equipo de {{ site_name }} {% endblocktranslate %}

{% endautoescape %}
